name: Build & Test .NET Web API

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore CICDOpgave.sln

      - name: Build
        run: dotnet build CICDOpgave.sln --no-restore --configuration Release

      - name: Run tests
        run: dotnet test CICDOpgave.sln --no-build --verbosity normal
